name: Node JS CI

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review

jobs:
  node-ci:
    uses: draftm0de/github.workflows/.github/workflows/node-js-ci.yml@main
    with:
      node-version: '22'
      enable-cache: 'true'
      lint-script: 'lint'
      prettier-script: 'format:check'
      badges-script: ''
      test-script: 'test'
